<div class="group">
  <h2 class="loginTitle">Login</h2>

  <form class="form login-form">
    <div class="form-group user">

      <label class="email-login" for="email-login">email:</label>
      <input class="form-input" type="text" id="email-login" />

    </div>
    <div class="form-group password">

      <label class="password-login" for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />

    </div>
    <div class="form-group">

      
      <a href="/signup" class="btn-primary2">Sign Up</a>
      <a href="/" class="btn-primary2" type="submit">Login</a>

    </div>
  </form>
</div>
<script src="./js/login.js"></script>
