:root {

    --olive: #c0c1a8;
    --lightolive: #e7e8d1;
    --scarlet: #a24538;
    --screen: #a7a5a5;
    --darkgray: #777777;
}

html {
    font-family: "Helvetica", sans-serif;
    background-color: var(--scarlet);
}

body {
    margin: 0;
    padding: 0;
}


/* Login and SignUp */

.email-login, .password-login {
    font-size: 20px;

    color: var(--screen);  
}
.loginTitle {
    text-align: center;
    font-size: 40px;

    color: var(--lightolive);
}
.form-input {
    width: 400px;
    height: 25px;

    margin: 10px 0 20px 0;


    background-color: var(--lightolive);
    border: 2px solid var(--darkgray);
    border-radius: 5px;
}
.user, .password {
    display: flex;
    flex-direction: column;

    padding: 15px 0 15px 0;
}
.btn-primary {
    text-decoration: none;
    border: none;
    border-radius: .375rem;

    width: 100px;
    height: 35px; 
    font-size: 18px;
    margin: 0px 20px;

    color: var(--lightolive);
    background-color: var(--screen);
}

.btn-primary:hover {
    cursor: pointer;

    color: var(--scarlet);
    background-color: var(--lightolive);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
   
    height: 80vh
}



.btn-primary2 {
    text-decoration: none;
    border: none;
    border-radius: .375rem;

    padding: 8px 23px;
    width: 100px;
    height: 35px; 
    font-size: 18px;
    margin: 0px 20px;

    color: var(--lightolive);
    background-color: var(--screen);
}

.btn-primary2:hover {
    cursor: pointer;

    color: var(--scarlet);
    background-color: var(--lightolive);
}




/* Home Page */

/* Navigation */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.top {
    background-color: var(--scarlet);
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    background-color: var(--lightolive);
    flex: 0 0 80%
}

.title {
    text-decoration: none;
    color: var(--lightolive);
    font-size: 40px;
}

.nav-btn, .nav-btns {
    text-decoration: none;
    color: var(--lightolive);
    font-size: 25px;
}

.title, .nav-btns {
    margin: 0px 20px;
}

.title:hover, .nav-btn:hover {
    color: var(--olive)
}

/* Cards */
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 90vw;
    height: 170px;
    border: 4px solid var(--scarlet);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.top-card {
    flex: 0 0 30%;
    background-color: var(--scarlet);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
    color: var(--lightolive);

}

h3, p {
    margin: 0;
}

.blog-txt {
    padding: 20px;
    font-size: 18px;
}
.bottom-card {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}

